@model project.Models.usersaccounts

@{
    ViewData["Title"] = "Details";
}


@if ((string)ViewData["role"] == "customer")
{
    Layout = "~/Views/Shared/layoutCustomer.cshtml";
}
else
{

    Layout = "~/Views/Shared/layoutMaster.cshtml";
}


<div class="login-form">
    <h4 class="text-center">Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
    </dl>

<div>
    <a asp-action="Index">Back to List</a>

        @if ((string)ViewData["role"] == "admin")
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        }
    </div>

</div>