@model IEnumerable<project.Models.orders>

@if ((string)ViewData["role"] == "customer")
{

    Layout = "~/Views/Shared/layoutCustomer.cshtml";

}
else
{
    Layout = "~/Views/Shared/layoutMaster.cshtml";




}
<h1 class="text-center text-white">ordersdetail</h1>


<table class="table table-striped table-bordered text-center bg-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.custname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.custname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    <a asp-action="Orderline" asp-route-orid="@item.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>